.home-container {
  background-image: url("../../assets/GoSurfingTemplate.png");
  background-size: cover;
  background-position: center;
  display: flex;
  min-height: 100vh;
  text-align: center;
  justify-content: center;
}
