.profile-picture-container {
  right: 50px;
  position: absolute;
  top: 20px;
}

.info-window-container {
  background-color: #f0e7d0;
}

.info-window-body {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
