.profile-picture {
  border-radius: 50px;
  height: 60px;
  width: 60px;
}

.info-window-container {
  background-color: #f0e7d0;
}

.info-window-body {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
