.login-container {
  align-items: center;
  background-color: #f0e7d0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  text-align: center;
}

.login-image {
  align-items: center;
  display: flex;
  justify-content: center;
  background-image: url("../../assets/GoSurfing.png");
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
}
