.login-success-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  background-image: url("../../assets/GoSurfingLoginSuccess.png");
  background-size: cover;
  background-position: center;
  text-align: center;
}

.login-success-title {
  font: normal normal normal 28px/35px "open sans condensed", sans-serif;
  color: rgb(56, 56, 56);
  -webkit-font-smoothing: antialiased;
  line-height: normal;
}
